body{
    width: 100%;
}

.text{
z-index: 2;
font-size: 22px;
font-family: 'OpenSans', sans-serif;
}

.text1 {
    position: absolute;
    left: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
}
.text2 {
    position: absolute;
    right: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
}

.pointer-events{
    pointer-events: none;
}

.butt {
    background: #0098cd; /* Цвет фона */
    border: 1px solid #0098cd; /* Параметры рамки */
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота */
    border-radius: 30px;
}

.butt::hover{
    opacity: 0.7;
}
  
   .name{
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
    text-align: center;
}

.proff{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.block_1{
    overflow:hidden;
    position:relative;
}

.block_2{
    position:absolute; 
    visibility:hidden;
    left:1px;
    background: #32bfa3;
    font-size:20px;
    color: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top:160px
}

.block_2 p {
    padding: 110px 0px;
    text-align: center;
}

.block_1:hover .block_2{
    visibility:visible;
    transition:1s;-webkit-transition:1s;
    transform:translatey(-180px);
    -webkit-transform:translatey(-160px)
}

.block_1:hover{
    transition:0.6s;-webkit-transition:0.6s;
}

hr {
    height: 1px;
    color: white;
    background-color:white;
    border: none;
}

@media (max-width: 576px){
    .pos-image {/*не является классом bootstrap*/
        position: absolute;
        bottom: 40px;
        left: 240px;
        width: 200px;
    }
    .pos-butt {/*не является классом bootstrap*/
        position: relative;
        top: -280px;
        left: 50px;
    }
}
