body{
    width: 100%;
}

.text{
z-index: 2;
font-size: 22px;
font-family: 'OpenSans', sans-serif;
}

.text1 {
    position: absolute;
    left: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
}
.text2 {
    position: absolute;
    right: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
}

.pointer-events{
    pointer-events: none;
}

.butt {
    background: #0098cd; /* Цвет фона */
    border: 1px solid ##0098cd; /* Параметры рамки */
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота */
    border-radius: 30px;
   }

   .butt::hover{
       opacity: 0.7;
   }
  